apiVersion: v1
kind: Service
metadata:
  name: discovery-service
  namespace: hello-kubernetes
spec:
  type: NodePort
  selector:
    app: discovery-service
  ports:
    - port: 8010 # port Service di dalam cluster. Semua Pod lain atau aplikasi internal cluster akan mengakses Service melalui port ini
      targetPort: 8010 # Port tempat layanan Spring Boot berjalan (server.port=8080)
      nodePort: 30010 # Ini adalah port di node Kubernetes (host machine minikube). Digunakan ketika Service type = NodePort. Akses dari luar cluster menggunakan port ini
