apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-service
  namespace: hello-kubernetes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-service
  template:
    metadata:
      labels:
        app: discovery-service
    spec:
      containers:
        - name: discovery-service
          image: mirfanduri/discovery-service-02-kube:1.0.0
          ports:
            - containerPort: 8010
          env:
            - name: EUREKA_INSTANCE_HOSTNAME
              value: "discovery-service" # sesuai nama service
#            - name: DB_HOST
#              value: postgres
#            - name: DB_USER
#              valueFrom:
#                secretKeyRef:
#                  name: db-secret
#                  key: username
#            - name: DB_PASSWORD
#              valueFrom:
#                secretKeyRef:
#                  name: db-secret
#                  key: password
#            - name: SPRING_PROFILES_ACTIVE
#              valueFrom:
#                configMapKeyRef:
#                  name: app-config
#                  key: SPRING_PROFILES_ACTIVE
          volumeMounts:
            - name: log-volume
              mountPath: /logs
#          resources:
#            requests:
#              cpu: "100m" # 100 millicores = 0.1 vCPU
#            limits:
#              cpu: "500m" # 500 millicores = 0.5 vCPU
#          readinessProbe:
#            httpGet:
#              path: /actuator/health/readiness
#              port: 8080
#            initialDelaySeconds: 10
#            periodSeconds: 10
#            failureThreshold: 3
#          livenessProbe:
      volumes:
        - name: log-volume
          persistentVolumeClaim:
            claimName: log-pvc
